.MainAuthcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(3, 6, 32);
    background-image: url("../assets/backgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.AuthForms {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgba(72, 115, 124, 0.741);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 40%;
    box-shadow: 0 0 2px black;
}
.formTitle {
    font-size: 2rem;
    color: white;
    text-align: start;
    width: 100%;
    margin-bottom: 5px;
}
.inputField {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
    width: 80%;
}
.inputField:focus {
    outline: none;
    border:  1px solid rgba(72, 115, 124, 1);
}

.primary{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 70%;
}
.forgotPasswordLink {
    color : white;
    width: 70%;
    text-align: end;
    font-size: 12px;
    font-style: oblique;
    font-weight: 100;
    margin-right: 5px;
}
.secondary{
    background-color: #27336a;
    color: white;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
}
.infoText{
    color: white;
    font-size: 14px;
    font-weight: 200;
}