.MainHomeContainer{
    height: 100vh;
    width: 100vw;
}
.displayContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;}
.sideOptionContainer {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 10%;
    align-items: center;
}
.infoDisplayContainer{
    width: 90%;
    height: 100%;
}
.optionBtns{
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 90%;
    margin-bottom: 5px;
    color: white;
    cursor: pointer;
}
.userlist{
    margin-top: 10px;
    background-color: rgb(0, 255, 102);
}
.logout{
    background-color: red;
}
.userlistMainContainerMaster{

    padding: 10px;
}
.userlistMainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
.userContainer {
    padding: 10px;
    background-color: rgb(55, 54, 55);
    color: white;
    border-radius: 6px;
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 10px;
}
.ActionBtn{
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    color: white;
}
.Delete {
    background-color: red;
}
.Upgrade {
    background-color: rgb(65, 253, 2);
}
.Downgrade{
    background-color: rgb(0, 38, 255);
}