.ErrorMessageContainer {
    position:  absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(202, 8, 8);
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    width: 210px;
    justify-content: center;
    font-size: 1.2rem;
}